<%= form_with(model: parcel) do |form| %>
  <% if parcel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parcel.errors.count, "error") %> prohibited this parcel from being saved:</h2>

      <ul>
        <% parcel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Parcel::STATUS %>
  </div>

  <div class="field">
    <%= form.label :service_type_id %>
    <%= form.select :service_type_id, @service_types %>
  </div>

  <div class="field">
    <%= form.label :payment_mode %>
    <%= form.select :payment_mode, Parcel::PAYMENT_MODE %>
  </div>

  <div class="field">
    <%= form.label :sender_id %>
    <%= form.select :sender_id, @users %>
    <%= link_to 'New Sender', new_user_path %>
  </div>

  <div class="field">
    <%= form.label :receiver_id %>
    <%= form.select :receiver_id, @users %>
    <%= link_to 'New Receiver', new_user_path %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
